/* Background Gradient */
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* GLASS CARD */
.glass-card {
    width: 350px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
    border-radius: 18px;
    border: 1px solid rgba(255,255,255,0.3);
    text-align: center;
    animation: fadeIn 0.7s ease;
}

h2 {
    margin-bottom: 5px;
    color: #fff;
    font-size: 2.1rem;
}

.subtitle {
    color: #f0f0f0a8;
    margin-bottom: 25px;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background: rgba(255,255,255,0.3);
    color: #fff;
    font-weight: 500;
}

input::placeholder {
    color: #ffffffcc;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #ffffff;
    color: #6e56cf;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .3s ease;
}

.btn:hover {
    background: #eae8ff;
}

/* Bottom text */
.bottom-text {
    margin-top: 18px;
    color: white;
    font-size: 1.3rem;
}

.bottom-text a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px);}
    to {opacity: 1; transform: translateY(0);}
}